alias vi="nvim"
alias vim="nvim"

alias wifi_list="nmcli device wifi list"
#alias wifi_connect="nmcli device wifi connect --ask"
alias wifi_disconnect="nmcli device disconnect wlp3s0"

alias emacs="emacsclient -t --alternate-editor=''"
alias em="emacsclient -t --alternate-editor=''"
alias pass="EDITOR=nvim pass"

function pyman {
    if [ "$#" -eq "1" ]; then
	python3 -c "import $1; help($1)"
    elif [ "$#" -eq "2" ]; then
	python3 -c "import $1; help($1.$2)"
    fi
}
