[user]
# Email not defined on purpose, set depending on the machine...
name = Peter Gottesman
	email = peter@petergottesman.com

[core]
autocrlf = input
# If emacs server is not started, just use vim
editor = emacsclient -t --alternate-editor="vim"

[alias]
pr = pull --rebase
di = diff
ci = commit
st = status
co = checkout
logs = log --stat --no-merges
graph = log --graph --decorate --abbrev-commit --pretty=oneline
grapha = log --graph --decorate --abbrev-commit --pretty=oneline --all

[credential]
helper = cache

[push]
default = simple